/* set the app container as a grid container for easy centering */
.app{
  display: grid;
  place-items: center; 
  background-color: #3b3b3b;
  height: 100vh;
}

.app__body{
  display: flex;
  background-color: #5c5c5c;
  height: 85vh;
  width: 90vw;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px){
  .app{
    display: initial;  
    height: initial;
  }

  .app__body{
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    border-radius: initial;
    box-shadow: initial;
  }
}