.login{
    background-color: #3b3b3b;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login__container {
    padding: 100px;
    text-align: center;
    color: white;
    background-color: #5c5c5c;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.login__container >img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login__container >button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #7956a0 !important;
}

@media only screen and (max-width: 600px){
    .login__container{
        background-color: #3b3b3b;
        border-radius: initial;
        height: auto;
        box-shadow: initial;
    }
}