.room{
    flex: 0.75;
    display: flex;
    flex-direction: column;
}

.room__header {
    padding: 22px;
    display: flex;
    align-items: center;
    background-color: #5c5c5c;
    border-bottom: 1px solid gray;
}

.room__headerInfo{
    flex: 1;
    padding-left: 20px;
    color: white;
}

.room__headerInfo > h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.room__headerInfo > p {
    font-weight: 300;
    font-size: 14px;
}

.room__content{
    padding: 30px;
    overflow: scroll;
    /* height: 75%; */
    flex: 2;
    background-color: #5c5c5c;
}

.room__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
    max-width: 80%;
}

.room__messageSender{
    margin-left: auto;
    background-color: #7956a0;
}

.room__messageName{
    position: absolute;
    top: -18px;
    left: 5px;
    font-weight: 800;
    font-size: small;
}

.room__messageTime{
    margin-left: 10px;
    font-size: small;
    font-weight: 800;
}

.room__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 62px;
    background-color: #5c5c5c;
}

.room__footer > form{
    flex: 1;
    display: flex;
    padding: 10px;
}

.room__footer > form >input{
    flex: 1;
    border-radius: 30px;
    color: white;
    background-color: #7c7c7c;
    border: none;
    padding: 10px;
}

/* display:none allows me to keep the enter key 
functionality without displaying the button */
.room__footer > form >button{
    display: none;
}

@media only screen and (max-width: 600px){
    .room__content{
        height: fit-content;
    }
}
