.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    min-width: 35vw;
}

.sidebar__header{
    display: flex;
    padding: 20px;
    border-right: 1px solid gray;
}

.sidebar__headerIcons{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 20px;
    justify-content: space-around;
    min-width: 6vw;
}

.sidebar__rooms{
    flex: 1;
    background-color: gray;
    overflow: scroll;
}