a{
    text-decoration: none;
    color: white;
}

.sidebarRoom{
    display: flex;
    padding: 20px;
    color: white;
    cursor: pointer;
    border-bottom:1px solid #767676;
}

.sidebarRoom:hover{
    background-color: #5c5c5c;
}

.sidebarRoom > .MuiAvatar-root{
    background-color: white !important;
}

.sidebarRoom__info{
    margin-left: 15px;
}

.sidebarRoom__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarRoom__info > p{
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 600px){
    .sidebarRoom{
        padding: 10px;
    }
}
